@use '../../../../../scss/mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

//$tablet-media: 800px;
$tablet-small-media: 600px;
$phone-media: 450px;
.bookCardForm{
    display: flex;
    flex-direction: column;
    background-color: var(red);
}

.headline {
    display: flex;
    justify-content: center;
    margin: 0px;
    //padding-top: 20px;
    @include typography.headline-small;
    color: var(--md-sys-color-on-surface);
}

.actions {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin-top: 32px;

    &__text-button {
        color: var(--md-sys-color-primary);
        cursor: pointer; 
        @include typography.label-large;
    }

    &__delete-button {
        color: #7b2323;
        @include typography.label-large;
    }
}

.close{
    position: absolute;
    top: 12px;
    left: 12px;
}

p.disabled {
    pointer-events: none;
    color: var(--md-sys-color-on-surface);
    opacity: 0.38;
    cursor: not-allowed; 
    @include typography.label-large;
}