@use '../../../../scss/mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

//$tablet-media: 800px;
$tablet-small-media: 600px;
$phone-media: 450px;
// .body {
//     background-color: brown;
// }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100%;
    // width: 100%;
    @media (min-width: $tablet-small-media) {
        height: 100%;
        width: auto;
        //padding: 40px;
    }
}

.register {

    display: flex;
    //align-items: unset;
    //justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 24px;
    
    @media (min-width: $phone-media) {
        padding: 40px;
    }

    @media (min-width: $tablet-small-media) {
        justify-content: center;
        height: auto;
        border: 1px solid var(--md-sys-color-on-surface-variant);
        border-radius: 8px;
        min-height: 400px;
        width: min-content;
        padding: 40px;
    }

    &__title {
        display: flex;
        justify-content: center;
        color: var(--md-sys-color-on-surface);
        @include typography.headline-medium;
        padding-bottom: 0px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        width: 100%;

        @media (min-width: $tablet-small-media) {
            width: 368px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: end;
        padding-top: 4px;
        width: 100%;
    }
}

.login {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 40px;
    gap: 4px;
    @include typography.body-medium;
    font-weight: 500;
    color: var(--md-sys-color-on-surface-variant);

    &__button{
        color: rgb(16, 92, 154);

        &:hover{
            cursor: pointer;
        }
    }
}