@use '../mixins/typography';

$tablet-media: 800px;
$phone-media: 450px;

.mdc-list.mdc-list {
    height: auto;
    padding-inline: 12px;
    padding-bottom: 0px;

    --mdc-list-list-item-container-shape: 24px;
    --mdc-list-list-item-one-line-container-height: 56px;

    --mdc-list-list-item-hover-state-layer-opacity: 0.08;
    --mdc-list-list-item-hover-state-layer-color: var(--md-sys-color-on-secondary-container);
    --mdc-list-list-item-hover-label-text-color: var(--md-sys-color-on-secondary-container);

    --mdc-list-list-item-focus-label-text-color: var(--md-sys-color-on-secondary-container);
    --mdc-list-list-item-focus-state-layer-color: var(--md-sys-color-on-secondary-container);
    --mdc-list-list-item-focus-state-layer-opacity: 0.08;

    @media(max-width: $tablet-media) {
        display: flex;
        flex-direction: column;
        gap: 4px;

        --mdc-list-list-item-container-shape: 16px;
    }

    @media(max-width: $phone-media) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        padding-inline: 4px;
        padding-top: 12px;
        padding-bottom: 4px;
    }
}

.mdc-list-item.mdc-list-item.mdc-list-item {
    --_icon_state-opacity: 0;

    @media(max-width: $tablet-media) {
        --mdc-list-list-item-container-shape: 0px;

        &::before {
            display: none;
        }

        &:hover {
            --_icon_state-opacity: var(--mdc-list-list-item-hover-state-layer-opacity);
        }

        .navigation__category__item {
            &:hover {
                .navigation__category__item__icon {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-color: var(--mdc-list-list-item-hover-state-layer-color);
                        opacity: var(--mdc-list-list-item-hover-state-layer-opacity);
                    }
                }
            }


        }
    }
}

.mdc-list-item.mdc-list-item {
    @media(max-width: $tablet-media) {
        padding-inline: 0px;
    }
}

.mdc-list-item--activated.mdc-list-item--activated {
    background-color: var(--md-sys-color-secondary-container);

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 1;
    }

    .mdc-list-item__primary-text.mdc-list-item__primary-text {
        color: var(--md-sys-color-on-secondary-container);
    }

    @media(max-width: $tablet-media) {
        background-color: unset;

        .navigation__category__item__icon {
            background-color: var(--md-sys-color-secondary-container);
        }
    }
}

.mdc-list-item__primary-text.mdc-list-item__primary-text {
    color: var(--md-sys-color-on-surface-variant);

    @media(max-width: $tablet-media) {
        font-size: 12px;
    }
}