@use '../mixins/typography';

.mat-mdc-dialog-container .mdc-dialog__surface{
    --mdc-dialog-container-color: var(--md-sys-color-surface-container-high);
    --mdc-dialog-container-shape: 24px;
    padding: 24px;
}

.mdc-text-field {
    --mdc-outlined-text-field-hover-outline-color: var(--md-sys-color-on-surface);
    --mdc-outlined-text-field-label-text-color: var(--md-sys-color-on-surface);
    --mdc-outlined-text-field-disabled-label-text-color: var(--md-sys-color-on-surface);
    --mdc-outlined-text-field-input-text-color: var(--md-sys-color-on-surface);
    --mdc-outlined-text-field-outline-color: var(--md-sys-color-on-surface);
}