.mat-mdc-card {
    --mdc-elevated-card-container-shape: 12px;
    --mdc-elevated-card-container-color: var(--md-sys-color-surface-container-low);
    --mat-card-subtitle-text-color: var(--md-sys-color-on-surface-variant);
}

.mat-mdc-card:hover {
    //background-color: rgba(212,228,246, 0.08);
    //background-color: rgba(123, 153, 177, 0.08);

}

.mat-mdc-card-content {
    color: var(--md-sys-color-on-surface);
}