.mat-mdc-slider {
    // margin-inline: 4px;
    --mdc-slider-handle-shape: 16px;
    --mdc-slider-handle-width: 4px;
    --mdc-slider-handle-height: 44px;
    --mdc-slider-active-track-height: 16px;
    --mdc-slider-inactive-track-height: 16px;
    --mdc-slider-handle-elevation: 4px 0px 0px 2px var(--md-sys-color-main), 0px 0px 0px 0px rgb(255 0 0), -4px 0px 0px 2px var(--md-sys-color-main); //main
    --mdc-slider-handle-color: var(--md-sys-color-primary);
    --mdc-slider-focus-handle-color: var(--md-sys-color-primary);
    --mdc-slider-hover-handle-color: var(--md-sys-color-primary);
    --mdc-slider-active-track-color: var(--md-sys-color-primary);
    --mdc-slider-inactive-track-color: var(--md-sys-color-primary-container);
    opacity: 1 !important;
    
    &:active {
        --mdc-slider-handle-width: 2px;
        cursor: none;
    }
        // --mdc-slider-with-tick-marks-inactive-container-color: #3f51b5;
        // --mdc-slider-with-tick-marks-active-container-color: white;
        // --mdc-slider-disabled-active-track-color: #000;
        // --mdc-slider-disabled-handle-color: #000;
        // --mdc-slider-disabled-inactive-track-color: #000;
        // --mdc-slider-label-container-color: #000;
        // --mdc-slider-label-label-text-color: #fff;
        // --mdc-slider-with-overlap-handle-outline-color: #fff;
        // --mdc-slider-with-tick-marks-disabled-container-color: #000;
        // --mdc-slider-handle-elevation: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        // 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        // 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        // --mat-mdc-slider-ripple-color: #3f51b5;
        // --mat-mdc-slider-hover-ripple-color: rgba(63, 81, 181, 0.05);
        // --mat-mdc-slider-focus-ripple-color: rgba(63, 81, 181, 0.2);
        // --mat-slider-value-indicator-opacity: 0.7;
    

}

.mdc-slider__input.mdc-slider__input {

    &:active {
        cursor: grabbing;
    }
}
.mat-mdc-slider .mdc-slider__track--inactive {
    opacity: 1 !important;
}

.mdc-slider .mdc-slider__value-indicator-container.mdc-slider__value-indicator-container {
    bottom: 55px;
}

.mdc-slider.mdc-slider .mdc-slider__value-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    height: 38px;
    width: 46px;
    // padding-block: 16px;
    box-sizing: border-box;
    // padding-inline: 16px;
    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    opacity: 1;
    appearance: none;

    &::before {
        display: none;
    }

}