@use '../mixins/typography';

.mdc-list.mdc-list {
    height: auto;
    padding-inline: 12px;
    padding-bottom: 0px;
    background: var(--md-sys-color-surface-container-low);
    --mdc-list-list-item-hover-state-layer-opacity: 0.08;
    --mdc-list-list-item-hover-state-layer-color: var(--md-sys-color-on-secondary-container);
    --mdc-list-list-item-hover-label-text-color: var(--md-sys-color-on-secondary-container);
    --mdc-list-list-item-container-shape: 24px;
    --mdc-list-list-item-one-line-container-height: 56px;
}

// .mdc-list-item__content.mdc-list-item__content {
//     display: flex;
//     align-items: center;
//     box-sizing: border-box;
//     gap: 12px;
//     height: 56px;
//     border-radius: 24px;
// }
// .mdc-list-item:hover {
//     background-color: white;

//     .mdc-list-item__primary-text.mdc-list-item__primary-text {
//         color: var(--md-sys-color-on-secondary-container);
//     }
// }

.mdc-list-item--activated.mdc-list-item--activated {
    background-color: var(--md-sys-color-secondary-container);

    .mdc-list-item__primary-text.mdc-list-item__primary-text {
        color: var(--md-sys-color-on-secondary-container);
    }
}

.mdc-list-item__primary-text.mdc-list-item__primary-text {
    color: var(--md-sys-color-on-surface-variant);
}