<div class="container">

  <div class="navigation">

    <div class="navigation__category">
      <span class="navigation__category__name">Books</span>
      <mat-nav-list>
        @for (link of navLinks; track link) {
        <a mat-list-item [activated]="link.id === activeLinkId" (click)="activeLinkId = link.id">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
        }
      </mat-nav-list>
    </div>

    <div class="line"></div>

    <div class="navigation__category">
      <span class="navigation__category__name">Labels</span>
      <mat-nav-list>
        @for (link of navLinksLabels; track link) {
        <a mat-list-item [activated]="link.id === activeLinkId" (click)="activeLinkId = link.id">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
        }
      </mat-nav-list>
    </div>

  </div>

  <main class="main">
    <!-- <mat-nav-list>
      @for (book of books; track book) {
      <a mat-list-item [activated]="book.id === activeBookId" (click)="activeBookId = book.id">
        <div class="navigation__category__item">
          <span>{{book.author + ": " + book.name}}</span>
        </div>
      </a>
      }
    </mat-nav-list> -->

    <!-- <button mat-flat-button (click)="addBook()"> Add Button</button> -->

    <div class="book-list">
      @for (book of books; track book) {
      <mat-card>
        <mat-card-content>{{book.author + ": " + book.name}}</mat-card-content>
      </mat-card>
      }
    </div>

  </main>



</div>
<router-outlet></router-outlet>