@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$tablet-media: 800px;
$phone-media: 450px;

.container {
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 360px 1fr;

    @media(max-width: $tablet-media) {
        grid-template-columns: 80px 1fr;
    }

    @media(max-width: $phone-media) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
    }
}

.main {
    overflow: auto;
    background-color: var(--md-sys-color-main);

    &::-webkit-scrollbar{
        width: 0px;
    }
    
    @media(max-width: $phone-media) {
        grid-column: 1;
        grid-row: 1;
    }
}