<div class="container">

  <div class="navigation">

    <div class="navigation__category">
      <span class="navigation__category__name">Books</span>
      
      <mat-nav-list>
        <a mat-list-item routerLink="main" routerLinkActive="mdc-list-item--activated">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">home</mat-icon>
            <span>Main Page</span>
          </div>
        </a>
        <a mat-list-item routerLink="books" routerLinkActive="mdc-list-item--activated">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">book_2</mat-icon>
            <span>My Books</span>
          </div>
        </a>

        @for (link of navLinks; track link) {
        <a mat-list-item [activated]="link.id === activeLinkId" (click)="activeLinkId = link.id">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
        }
      </mat-nav-list>
    </div>

    <div class="line"></div>

    <div class="navigation__category">
      <span class="navigation__category__name">Labels</span>
      <mat-nav-list>
        @for (link of navLinksLabels; track link) {
        <a mat-list-item [activated]="link.id === activeLinkId" (click)="activeLinkId = link.id">
          <div class="navigation__category__item">
            <mat-icon class="navigation__category__item__icon material-symbols-outlined">{{ link.icon }}</mat-icon>
            <span>{{ link.label }}</span>
          </div>
        </a>
        }
      </mat-nav-list>
    </div>
    
    <!-- <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card> -->
    
  </div>

  <main class="main">
    
    <!-- <mat-nav-list>
      @for (book of books; track book) {
      <a mat-list-item [activated]="book.id === activeBookId" (click)="activeBookId = book.id">
        <div class="navigation__category__item">
          <span>{{book.author + ": " + book.name}}</span>
        </div>
      </a>
      }
    </mat-nav-list> -->

    <!-- <button mat-flat-button (click)="addBook()"> Add Button</button> -->

    <!-- <div class="book-list">
      @for (book of books; track book) {
      <mat-card>
        <mat-card-content matRipple>
          <mat-card-title>{{book.name}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      }
    </div> -->
    <router-outlet></router-outlet>
    <!-- <cm-book-list-card></cm-book-list-card> -->
  </main>
</div>