// .wrap{
//     display: flex;
//     width: 100%;
//     align-items: center;
//     justify-content: center;
// }

// .container {
//     //изчaльный контейнер
//     display: flex;
//     flex-wrap: wrap;
//     //flex-direction: row;
//     justify-content: center;
//     margin-top: 24px;
//     box-sizing: border-box;
//     align-content: flex-start;
// }

// {{ new test code
@use 'sass:math';
@use '../../../scss/mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$tablet-media: 800px;
$phone-media: 450px;

$spacing-min: 16px;
$spacing-max: 32px;
$offset-max: 156px;

$breakpoint-content: 800px;
$content-column-size: math.div($breakpoint-content - 11 * $spacing-max, 12);

$breakpoint-tablet: 450px;
$breakpoint-desktop: 800px;

$breakpoint-content-min: $breakpoint-content + $spacing-max * 2;
$breakpoint-content-max: $breakpoint-content-min + $offset-max * 2;
$breakpoint-max: 1350px;

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));

    @media (max-width: 380px) {
        grid-template-columns: 1fr 120px 120px 1fr;
    }
}


.card {
    display: grid;
    grid-template-rows: auto;
    border-radius: 16px;
    background: var(--md-sys-color-surface-container-high);
    min-height: 300px;
    // min-width: 150px;
    //max-width: 260px;
    //width: 200px;
    box-sizing: border-box;
    margin: 10px;
    //box-shadow: 0px 2px 5px rgba(207, 193, 193, 0.5);

    @media (max-width: 380px) {
        grid-column: 2/-2;
    }



    &:hover {
        background-color: var(--md-sys-color-card-hover);
        cursor: pointer;

        .card__info__name {
            color: var(--md-sys-color-on-secondary-container);
        }

        .card__info__author {
            color: var(--md-sys-color-on-secondary-container);
        }
    }

    &__image {
        display: block;

        width: 100%;
        height: 100%;
        border-radius: 16px;
        // Можно поигрься с этими параметрами
        object-fit: cover;
        aspect-ratio: 2/3;
    }

    &__info {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 16px;
        gap: 4px;

        &__name {
            color: var(--md-sys-color-on-surface);
            font-size: 16px;
            font-weight: 400;
        }

        &__author {
            color: var(--md-sys-color-on-surface-variant);
            font-size: 14px;
            font-weight: 400;
        }
    }
}

// new test code }}

// .card {
//     display: grid;
//     grid-template-rows: auto;
//     border-radius: 16px;
//     background: var(--md-sys-color-surface-container-high);
//     height: auto;
//     width: 200px;
//     box-sizing: border-box;
//     margin: 10px;
//     //box-shadow: 0px 2px 5px rgba(207, 193, 193, 0.5);

//     &:hover {
//         background-color: var(--md-sys-color-card-hover);
//         cursor: pointer;

//         .card__info__name {
//             color: var(--md-sys-color-on-secondary-container);
//         }

//         .card__info__author {
//             color: var(--md-sys-color-on-secondary-container);
//         }
//     }

//     &__image {
//         display: block;
//         width: 100%;
//         /* Обновлено */
//         height: 300px;
//         /* Добавлено */
//         border-radius: 16px;
//         object-fit: cover;
//         /* Обновлено */
//         box-sizing: border-box;
//     }

//     &__info {
//         display: flex;
//         flex-direction: column;
//         box-sizing: border-box;
//         padding: 16px;
//         gap: 4px;

//         &__name {
//             color: var(--md-sys-color-on-surface);
//             font-size: 16px;
//             font-weight: 400;
//         }

//         &__author {
//             color: var(--md-sys-color-on-surface-variant);
//             font-size: 14px;
//             font-weight: 400;
//         }
//     }
// }