@use 'sass:math';
@use '../../../scss/mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$tablet-media: 800px;
$phone-media: 450px;

.container-main {
    position: relative;
    margin-top: 72px;
}

.header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    @media (max-width: $phone-media) {
        padding: 8px;
    }

    @media (min-width: $phone-media) {
        left: 80px;
    }

    @media (min-width: $tablet-media) {
        left: 360px;
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 56px;
        width: 100%;
        border-radius: 24px;
        padding-inline: 4px;
        background-color: var(--md-sys-color-surface-container-high);
        //border: 2px solid var(--md-sys-color-on-surface);

        &__icon {
            color: var(--md-sys-color-on-surface);
        }

    }

    &__button {
        @media (max-width: $phone-media) {
            position: fixed;
            right: 8px;
            bottom: 88px;
        }
    }

    input[type="text"] {
        //border: solid 1px var(--primary-color);
        height: min-content;
        box-sizing: border-box;
        background-color: unset;
        color: var(--md-sys-color-on-surface-variant);
        width: 100%;
        border: none;
        @include typography.body-large;

        &::placeholder {
            color: var(--md-sys-color-on-surface-variant);
        }
    }

    textarea:focus,
    input:focus {
        outline: none;
    }
}

.container-cards {
    display: grid;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));

    @media (max-width: 380px) {
        grid-template-columns: 1fr 120px 120px 1fr;
    }

    @media (min-width: 380px) and (max-width: 480px) {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

.card {
    display: grid;
    grid-template-rows: 1fr 104px;
    border-radius: 16px;
    background: var(--md-sys-color-surface-container-highest);

    &:hover {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--md-sys-color-on-surface);
            opacity: 0.08;
        }

        cursor: pointer;

        .card__info__name {
            color: var(--md-sys-color-on-secondary-container);
        }

        .card__info__author {
            color: var(--md-sys-color-on-secondary-container);
        }
    }

    @media (max-width: 380px) {
        grid-column: 2/-2;
    }

    &__image {
        object-fit: cover;
        aspect-ratio: 3/4;
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        flex-grow: 1;
        max-height: 104px;
        box-sizing: border-box;
        padding: 16px;

        &__name {
            display: -webkit-box;
            //white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            box-sizing: border-box;
            word-break: break-word;

            color: var(--md-sys-color-on-surface);
            @include typography.body-large;
        }

        &__author {
            display: -webkit-box;
            //white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            box-sizing: border-box;
            word-break: break-word;
            color: var(--md-sys-color-on-surface-variant);
            @include typography.body-medium;

        }
    }
}